

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto Slab", serif;
}

.nav-bar{
    background-color: #002f2f;
}

.nav-heading{
    margin-right: 90px;
    color: #e6e6e6;
}

.nav-heading > img{
    margin-right: 10px;
}

.nav-links-container > .nav-links{
    margin-left: 20px;
}

.nav-dropdown-container{
    margin-left: 20px;
}

