:root{
    --app-heading-bg-color: #f5f5f5;
    --app-gradient-main-color: #e0efff;
    --app-gradient-secondary-color: #e6e6e6;
    --app-body-bg-color: #e0efff;
    --app-main-accent-color: #112050;
    --app-secondary-accent-color: #00BF63;
    --app-navbar-color: #002f2f;
}




/* CSS reset */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto Slab", serif;
    
    
}

html, body {
    height: 100%;
    width: 100%;
    background: linear-gradient(90deg, var(--app-body-bg-color), var(--app-gradient-secondary-color));
}

.invisible{
    display: none;
}

.nav-bar{
    background-color: var(--app-main-accent-color);
    margin-bottom: 50px;
}

.nav-heading{
    margin-right: 90px;
    color: #e6e6e6;
}

.nav-heading > img{
    margin-right: 10px;
}

.nav-links-container > .nav-links{
    margin-left: 20px;
}

.nav-dropdown-container{
    margin-left: 20px;
}

.app-heading-container{
    width: 100%;
    text-align: center;
}

.app-heading{
    width: 300px;
    margin: 0 auto;
    background-color: #112050;
    color: white;
    padding: 10px 0px;
    margin-bottom: 80px;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
    /* border: 1px solid white; */
}

.welcome-message{

}

.home-flex-container{
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    margin-bottom: 50px;
    
}

.home-summary-container{
    background-color: var(--app-main-accent-color);
    width: 400px;
    text-align: center;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;

}

.mission-statement-container{
    background-color: #bad9f8;
    width: 1000px;
    text-align: center;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    border: 0.5px solid #afacb8;
}

.mission-statement-heading{
    color: var(--app-main-accent-color);
    margin-bottom: 30px;
    margin-top: 10px;
}

.mission-statement{
    margin-bottom: 20px;
}

.test-container{
    background-color: #e0efff;
    width: 100%;
    height: 425px;
    border: 1px solid #cccccc;
    color: var(--app-main-accent-color);
    margin-bottom: 50px;
}

.test-heading{
    margin-top: 10px;
    margin-bottom: 30px;
}

.test-flex-container{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    margin: 50px 0px;
    align-items: center;
    text-align: left;
}

.home-statistics-container{
    
    margin-top: -40px;
}

.home-statistics-heading{
    color: var(--app-main-accent-color);
}

.home-statistics-heading2{
    margin-top: 30px;
}

.home-statistics-body-container{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    text-align: left;
    margin-left: 20px;
    margin-top: 50px;
}

.home-statistics-body{
    width: 100%;
    
}


/* 
.test-btn{
    margin-right: 16px;
    padding: 10px 20px;
    height: 50px;
    border-radius: 20px;
} */

.home-summary-img{
    height: 200px;
    max-height: 200px;
    width: 200px;
    max-width: 200px;
    border-radius: 50%;
    background-color: var(--app-main-accent-color);
    -webkit-transition: all 500ms ease;
    -moz-transition: all 500ms ease;
    -ms-transition: all 500ms ease;
    -o-transition: all 500ms ease;
    transition: all 500ms ease;
}

.home-summary-img:hover{
    scale: 1.15;
   
}

/* .home-summary-heading:hover{    
    background-color: #f3ec78;
    background: linear-gradient(45deg, var(--app-gradient-main-color), var(--app-gradient-secondary-color));
    background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent; 
    -moz-text-fill-color: transparent;
} */

/* Tutorial on https://fossheim.io/writing/posts/css-text-gradient. */

.gradient-text {
    /* Fallback: Set a background color. */
    background-color: #CA4246;
    
    /* Create the gradient. */
     background-image: linear-gradient(
          45deg,
          #CA4246 16.666%, 
          #E16541 16.666%, 
          #E16541 33.333%, 
          #F18F43 33.333%, 
          #F18F43 50%, 
          #8B9862 50%, 
          #8B9862 66.666%, 
          #476098 66.666%, 
          #476098 83.333%, 
          #A7489B 83.333%);
    
    /* Set the background size and repeat properties. */
    background-size: 100%;
    background-repeat: repeat;
  
    /* Use the text as a mask for the background. */
    /* This will show the gradient as a text color rather than element bg. */
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; 
    
    /* Animate the text when loading the element. */
      /* This animates it on page load and when hovering out. */
      animation: rainbow-text-simple-animation-rev 0.75s ease forwards;
  
  }
  
  .gradient-text:hover{
      animation: rainbow-text-simple-animation 0.5s ease-in forwards;
  }
  
  
  /* Move the background and make it smaller. */
  /* Animation shown when entering the page and after the hover animation. */
  @keyframes rainbow-text-simple-animation-rev {
      0% {
          background-size: 650%;
      }
      40% {
          background-size: 650%;
      }
      100% {
          background-size: 100%;
      }
  }
  
  /* Move the background and make it larger. */
  /* Animation shown when hovering over the text. */
  @keyframes rainbow-text-simple-animation {
      0% {
          background-size: 100%;
      }
      80% {
          background-size: 650%;
      }
      100% {
          background-size: 650%;
      }
  }
  
  header {
    margin-top: 1em;
    margin-top: calc(50vh - 3em);
  }
  

.home-summary-body{
    
}

.home-summary-body:hover{
}

.statistics-heading-container{
    text-align: center;
    margin: 40px 0px;
}

.statistics-heading{

}

.card-container{
    display: flex;
    justify-content: left;
    flex-wrap: wrap;
    padding: 50px 50px;
    gap: 20px;
    /* width: 1400px; */
    background-color: var(--app-main-accent-color);
    margin: 0 auto;
    margin: 0px 40px;
    border-radius: 20px;
    /* padding-left: 50px; */
    border: 1px solid grey;
}

.card-button-container{
    display: block;
}

.card-button{
    display: block;
    padding: 9px 15px;
    border-radius: 10px;
    margin-top: 50px;
}

.statistics-cards:hover{
    scale: 1.15;
}

.about-us-img-container{
    /* border: 1px solid black; */
    margin-bottom: 10px;
    margin-left: 20px;
}

.about-us-img{
    height: 200px;
    width: 200px;
}

.about-body{
    margin-left: 20px;
}

.about-heading{
    
}