

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto Slab", serif;
}

.invisible{
    display: none;
}

.nav-bar{
    background-color: #002f2f;
}

.nav-heading{
    margin-right: 90px;
    color: #e6e6e6;
}

.nav-heading > img{
    margin-right: 10px;
}

.nav-links-container > .nav-links{
    margin-left: 20px;
}

.nav-dropdown-container{
    margin-left: 20px;
}

.app-heading{
    margin: 40px 0px;
    text-align: center;
    
}

.welcome-message{

}

.home-summary-container{
   
}

.home-summary-img{
    height: 200px;
    width: 200px;
    border-radius: 50%;
    
}

.home-summary-heading{
    height: 125px;

}

.home-summary-body{
    height: 125px;
    
}

.statistics-heading-container{
    text-align: center;
    margin: 40px 0px;
}

.statistics-heading{

}

.card-container{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 20px;
}

.about-body{
    margin-left: 20px;
}

.about-heading{
    
}

.support-links{
    text-decoration: none;
    color: #000000;
}